/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body {
      font-family: 'Inter';
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
      color: #292929;
      background-color: #ffffff;
  }

h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }


.all-wrap {
    width: 595px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.about-me {
    width: 349px;
}

.main {
    display: flex;
}

.avatar {
    height: 190px;
    margin-right: 32px;
    margin-bottom: 24px;
}


.column-left {
    display: flex;
    flex-direction: column;
    min-width: 190px;
    margin-right: 32px;
}

.column-left section {
    margin-bottom: 32px;
}

.column-left:last-child section {
    margin-bottom: 0px;
}

.category-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.column-left .category-title {
    text-align: center;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 115px;
    font-size: 10px;
    line-height: 15px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.contacts-list li {
    list-style-type: none; 
    margin-bottom: 8px;     
}

.contacts-list li::last-child {
    margin-bottom: 0;
}

.contacts-list span {
    font-weight: 700;
}